
# pixi environments
.pixi
*.egg-info

01. Single Page Portfolio (solutions).ipynb
02. Organizing Portfolio Content with External Resources (solutions).ipynb
03. Building Multi-Page Portfolio (solutions).ipynb
04. Deploying Your Portfolio for Free on GitHub Pages (solutions).ipynb